<div class="card text-center">
  <div class="card-header">
    <h4><%= @menu.name %></h4>
  </div><br>
  <div class="row">
    <div class="col-6">
    <% @show_header.each do |menu| %>
    <h2><%= menu.name %></h2>
    <% @item = Item.where(header_id: menu.id) %>
      <% @item.each do |hi| %>
      <%= hi.name %> <br>
      <% end %>
    <% end %>
    </div>
    <div class="col-6">

    </div>
  </div>
  <div class="card-footer text-muted">
  <button type="submit" class="btn btn-warning text-light" onclick="location.href='/menus/<%= @menu.id %>/edit'"><i class="fas fa-sync-alt"></i> Edit This Menu</button> <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete This Menu</button>
</div>
</div>
